<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="com.example.project.treeviewer"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/com.example.project.treeviewer/css/default.css">
         </property>
         <property
               name="appName"
               value="com.example.project.treeviewer">
         </property>
      </product>
   </extension>
   <extension
         id="MyNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="com.example.project.treeviewer.natures.MyNature">
         </run>
      </runtime>
   </extension>

</plugin>
